{% extends 'base.html' %}
{% block title %}Display{% endblock title %}

{% block body %}
<div class="container page-section">
  <h2>Result</h2>
  <div class="card-row">
    <div class="row g-3">
      <div class="col-12 col-md-6">
        <img src="{{ url_for('static', filename='images/' + original) }}" alt="Original image">
        <p class="img-label">Original</p>
      </div>
      <div class="col-12 col-md-6">
        <img src="{{ url_for('static', filename='images/' + output) }}" alt="Output image">
        <p class="img-label">Output</p>
        <p class="meta-text">Inference time: <span>{{ time_taken }}</span></p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}